.Header {
  background-color: #ffd745;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  z-index: 20;
  &-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 170rem;
    width: 95%;
  }
  &-Logo {
    display: flex;
    margin: 1.2rem;
    align-items: center;
    flex-grow: 1;
    img {
      width: 14rem;
    }
  }
  &-Menu {
    display: flex;
    list-style: none;
    text-align: center;
    padding: 0;
    @media (max-width: 769px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 6rem;
      opacity: 0;
    }
    @media (min-width: 769px) {
      gap: 4rem;
    }
  }
  &-Item {
    line-height: 7rem;
    background-color: #e6c13e;
    &:hover {
      background-color: #bfa134;
    }
    @media (min-width: 769px) {
      background-color: transparent;
      &:hover {
        background-color: transparent;
      }
    }
  }
  &-Links {
    color: #000;
    text-decoration: none;
    font-family: "Blinker", sans-serif;
    font-weight: bold;
    font-size: 1.8rem;
    &:hover {
      color: #fff;
    }
  }
  &-Icon {
    display: block;
    font-size: 3rem;
    cursor: pointer;
    @media (min-width: 769px) {
      display: none;
    }
  }
}
.active {
  @media (max-width: 769px) {
    opacity: 1;
    right: 0%;
    transition: all 0.3s ease;
    z-index: 1;
  }
}
