.color_bug {
  background-color: $color_bug;
}

.color_poison {
  background-color: $color_poison;
}

.color_normal {
  background-color: $color_normal;
}

.color_default {
  background-color: $color_default;
}
