.color_bug {
  background-color: $color_bug;
}
.color_dark {
  background-color: $color_dark;
}

.color_dragon {
  background-color: $color_dragon;
}

.color_electric {
  background-color: $color_electric;
}

.color_fairy {
  background-color: $color_fairy;
}

.color_fighting {
  background-color: $color_fighting;
}

.color_fire {
  background-color: $color_fire;
}

.color_flying {
  background-color: $color_flying;
}

.color_ghost {
  background-color: $color_ghost;
}

.color_ground {
  background-color: $color_ground;
}

.color_grass {
  background-color: $color_grass;
}

.color_ice {
  background-color: $color_ice;
}

.color_normal {
  background-color: $color_normal;
}

.color_poison {
  background-color: $color_poison;
}

.color_psychic {
  background-color: $color_psychic;
}

.color_rock {
  background-color: $color_rock;
}

.color_steel {
  background-color: $color_steel;
}

.color_water {
  background-color: $color_water;
}

.color_default {
  background-color: $color_default;
}
