//Global color variables
$primary_color: #ffd745;
$secondary_color: #bfa134;
$tertiary_color: #e6c13e;
$font_color: black;
$background: white;
$hover_color: #bfa134;
$hover_font_color: #000000;

//Card color variables}
$saturation_card: 82;
$ilumination_card: 60;
$color_bug: hsl(132, $saturation_card, $ilumination_card);
$color_dark: hsl(169, $saturation_card, $ilumination_card);
$color_dragon: hsl(19, $saturation_card, $ilumination_card);
$color_electric: hsl(64, $saturation_card, $ilumination_card);
$color_fairy: hsl(318, $saturation_card, $ilumination_card);
$color_fighting: hsl(11, $saturation_card, $ilumination_card);
$color_fire: hsl(0, $saturation_card, $ilumination_card);
$color_flying: hsl(227, $saturation_card, $ilumination_card);
$color_ghost: hsl(277, $saturation_card, $ilumination_card);
$color_grass: hsl(142, $saturation_card, $ilumination_card);
$color_ground: hsl(17, $saturation_card, $ilumination_card);
$color_ice: hsl(159, $saturation_card, $ilumination_card);
$color_normal: hsl(116, $saturation_card, $ilumination_card);
$color_poison: hsl(320, $saturation_card, $ilumination_card);
$color_psychic: hsl(347, $saturation_card, $ilumination_card);
$color_rock: hsl(68, $saturation_card, $ilumination_card);
$color_steel: hsl(238, $saturation_card, $ilumination_card);
$color_water: hsl(227, $saturation_card, $ilumination_card);
$color_default: hsl(94, $saturation_card, $ilumination_card);
