//Global color variables
$primary_color: #FFD745;
$secondary_color: #BFA134;
$font_color: black;
$background: white;
$hover_color: #BFA134;
$hover_font_color: #000000;

//Card color variables
$card_bug_type: green;
$card_poison_type: violet;
$card_normal_type: gray;
$card_default_type: blue;

